.card{
  border: 2px solid black;
  max-width: 25vw;
}
.container{
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
}
*{
  padding: 0;margin: 0;
}
nav, ul{
  display: flex;
  gap: 14px;
  padding:12px 5px ;
  background-color: rgb(95, 168, 152);
  color: white;
}

li{
  list-style: none;
}